
#trafficTop{
    background-color: black;
    width:10px;
    height: 70px;
    margin-left: 80px;
}

#container {
    background-color: black;
    width: 56px;
    height: 178px;
    margin-left: 50px;
    padding:7px;
    border-radius: 10px;
}

.light{
    width: 50px;
    height: 50px;
    margin: auto;
    border-radius: 50px;
    padding: 4px;
    cursor: pointer;
    
}

.light.red{background-color: red;}
.light.yellow{background-color: yellow;}
.light.green{background-color: green;}
.light.selected{box-shadow: #f8ffcf 0px 0px 50px 20px}
